/* 
    Document   : Pagestyler
    Created on : 3-mrt-2013, 12:45:25
    Author     : Bart
    Description:
        Purpose of the stylesheet follows.
*/

:root 
{ 
    width:1240px;
    min-height:1024px;
    background: gainsboro;
    border: solid blue;
}

.logo
{
    width:20%;
    height:inherit;
    float:left;
    border: solid black;
}

header
{
    
}

.toprow
{
    height:120px;
    width:100%;
    border: solid green;
}

.menu
{
    width:79%;
    float:left;
    height: inherit;
    border: solid red;
}
.menu ul li
{
    height: inherit;
    width: 200px;
    border: solid green;
    display: inline;
}

footer
{
    
}