/* 
    Document   : Pagestyler
    Created on : 3-mrt-2013, 12:45:25
    Author     : Bart
    Description:
        Purpose of the stylesheet follows.
*/

:root 
{ 
    background: gainsboro;
}

ul
{
    list-style-type: none;
    padding: 0px;
}

#background
{
    background: #BBBBBB;
    min-height: 650px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.content
{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 720px;
    height: 400px;
    background: #33BB44;
    text-align: center;
}

.logo
{
    text-align: center;
    width:23%;
    height:100%;
    float:left;
    background: #BBBBBB;
}

img#logo
{
    width:175px;
    height:125px;
}

.toprow
{
    height:120px;
    width:100%;
}

.menu
{
    width:47%;
    float:left;
    height: 100%;
    background: #33AAFF;
}

.menu ul li
{
    list-style: none;
    display: inline;
}

.menu button
{
    width:24%;
    height: 80px;
}

#login
{
    width: 30%;
    float: left;
    height:100%;
    background: #33AACC;
}
#login input 
{
    clear:both;
    width: 60%;
}

#login form
{
    margin-top: 10px;
    margin-right: 20px;
    text-align:right;
}

#registreren
{
    padding-top: 50px;
}

#loggedin
{
    width: 30%;
    float: right;
    height:100%;
    background: #33AACC;
    text-align: center;
}